<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPUT FORM</title>
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-left: 500px; margin-right: 500px; border: inset; padding: 40px; border-color: black;">
    
    
    <form action="/process" method="post" style="background-color: white;">
        
        <label><b>FIRST NAME:</b></label> <input type="text" name="first_name">
        <br>
        <br>
        <label><b>LAST NAME: </b></label> <input type="text" name="last_name">
        <br>
        <br>
        <br>



        <label><b>LANGUAGE OF CHOICE</b></label>
        <br>
        <input type="radio" id="contactChoice1" name="contact" value="Python">
        <label for="contactChoice1">Python</label>
        <br>
        <input type="radio" id="contactChoice2"
        name="contact" value="C++">
        <label for="contactChoice2">C++</label>
        <br>
        <input type="radio" id="contactChoice3"
        name="contact" value="Java">
        <label for="contactChoice3">Java</label>
        <br>
        <input type="radio" id="contactChoice4"
        name="contact" value="Javascript">
        <label for="contactChoice4">Javascript</label>
        <br>
        <br> 
        <br>
 


        <label><b>YEARS OF EXPERIENCE</b></label>
        <br>
        <select name="dropdown">
            <option value="-1" selected>-1</option>
            <br>
            <option value="1 to 5" selected>1 to 5</option>
            <br>
            <option value="5 +" selected>5 +</option>
        </select>
        <br>
        <br> 
        <br>



        <label><b><u>ABOUT YOURSELF</u></b></label>
        <br>
        
        <textarea rows="5" cols="30" name="description"></textarea>
        <br>
        <br>
       





        <button type="submit"><b>SUBMIT</b></button>



        
    </form>
</body>
</html>