<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>OUTPUT FORM</title>
</head>
<body>
    <div>


    <style>
        body
        {
            background-image: url('/static/htmlback.jpeg');
            background-repeat: no-repeat;
            background-size: cover, auto;
            
        }
    </style>

<img src="static/namaste-removebg-preview.png">

<h2 style="color: white; margin-left: 80px;margin-top: 20px ;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-transform: uppercase;"><i>Hi &#128075;, Myself {{firstname}} {{lastname}}</i></h2>
<h2 style="color: white; margin-left: 80px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-transform: uppercase;"><i>My favourite programming language is {{language_choice}}</i></h2>
<h2 style="color: white; margin-left: 80px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-transform: uppercase;"><i>I have {{selected}} of experience</i></h2>
<h2 style="color: white; margin-left: 80px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><i><u>ABOUT MYSELF</u> </i>&#128071;</h2>

<h2 class="anywhere">{{about_yourself}}</h2>

<style>
    .anywhere {
        overflow-wrap: anywhere;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 80px;
        margin-right: 600px;
    }
</style>
</div>

</body>
</html>